// Specific CSS for your home-page

// For index and show pages
small {
  text-transform: uppercase;
  color: $gray;
}

h1, h2 {
  color: $dark-gray;
}


// For home page (index)

.bigbox {
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-post-title {
  margin: 5px 0 12px 0;
  font-size: 1.7em;
}

.home-post-subtitle {
  margin-bottom: 22px;
  font-size: 1em;
  font-weight: 300;
}

.home-post-image {
  margin-top: 30px;
  border-radius: 4px;
  width: 100%;
}

.no-decoration a {
  text-decoration: none;
}
