// For index and show pages
small {
  text-transform: uppercase;
  color: $gray;
}

h1, h2 {
  color: $dark-gray;
}

// For home page (index)

.home-post-title {
  margin: 5px 0 22px 0;
  font-size: 3em;
}

.home-post-subtitle {
  margin: 22px 0;
  font-size: 1.2em;
  font-weight: 300;
}

.no-decoration a {
  text-decoration: none;
}


// For post page (show)

.post-title {
  margin: 22px 0;
  font-size: 3em;
}

.post-subtitle {
  margin: 22px 0;
  font-size: 1.5em;
}

p {
  margin: 22px 0;
  font-size: 1.2em;
}

// Use to center image

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
