// For post page (show)

.post-title {
  margin: 22px 0;
  font-size: 3em;
}

.post-subtitle {
  margin: 22px 0;
  font-size: 1.5em;
}

p {
  margin: 22px 0;
  font-size: 1.2em;
}

// Use to center image

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
