footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  height: 140px;
  margin-top: 70px;
  width: 100%;
  clear: both;
  bottom: 0;
}

.footer-links a{
  color: white;
  opacity: 0.8;
}

.footer-links a:hover{
  opacity: 1;
}
